<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        
        <meta name="author" content="Benjamin Ray" />
        <meta name="date" content="Summer 2019" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Required Jquery for Bootstrap Plugins-->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body id="backGround">
    
        {{>header}}
    
        <div id="mainBody">
            <div class="container-fluid">
    
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"><a href="/word?word=sight">Find Permutations</a></li>
                    <li role="presentation" class="active"><a href="/">About</a></li>
                </ul>
    
                <div class="container text-center" id="centerBody">
    
                    <h3>About:</h3>
    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac sodales velit, at iaculis
                        lectus. Quisque blandit libero in odio bibendum fringilla. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Nullam convallis erat dictum feugiat accumsan.
                        Integer finibus turpis quis eros molestie, non pretium nulla eleifend. Aliquam erat volutpat. In
                        vestibulum mi eu ultricies pretium. Vestibulum aliquam at sem nec venenatis. Sed enim lectus,
                        rhoncus ac leo sed, aliquet tempor libero. Quisque vitae congue est, at pulvinar ipsum. Cras
                        pellentesque accumsan enim. Nullam non purus facilisis, accumsan lorem vel, aliquet tellus.
                        Curabitur ac mollis massa.
                    </p>
    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac sodales velit, at iaculis
                        lectus. Quisque blandit libero in odio bibendum fringilla. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Nullam convallis erat dictum feugiat accumsan.
                        Integer finibus turpis quis eros molestie, non pretium nulla eleifend. Aliquam erat volutpat. In
                        vestibulum mi eu ultricies pretium. Vestibulum aliquam at sem nec venenatis. Sed enim lectus,
                        rhoncus ac leo sed, aliquet tempor libero. Quisque vitae congue est, at pulvinar ipsum. Cras
                        pellentesque accumsan enim. Nullam non purus facilisis, accumsan lorem vel, aliquet tellus.
                        Curabitur ac mollis massa.
                    </p>
    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac sodales velit, at iaculis
                        lectus. Quisque blandit libero in odio bibendum fringilla. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Nullam convallis erat dictum feugiat accumsan.
                        Integer finibus turpis quis eros molestie, non pretium nulla eleifend. Aliquam erat volutpat. In
                        vestibulum mi eu ultricies pretium. Vestibulum aliquam at sem nec venenatis. Sed enim lectus,
                        rhoncus ac leo sed, aliquet tempor libero. Quisque vitae congue est, at pulvinar ipsum. Cras
                        pellentesque accumsan enim. Nullam non purus facilisis, accumsan lorem vel, aliquet tellus.
                        Curabitur ac mollis massa.
                    </p>
    
    
                </div>
    
                {{>footer}}
    
            </div>
        </div>
    </body>
</html>