<!DOCTYPE html>
<html>
    <head>
        <title>Permutations</title>
        
        <meta name="author" content="Benjamin Ray" />
        <meta name="date" content="Summer 2019" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Required Jquery for Bootstrap Plugins-->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        
        <style>
        #backGround{
            background-color: rgb(151, 151, 151);
        }
        
        #mainBody {
            padding: 0;
            padding-bottom: 25px;
            padding-top: 5px;
            margin-top: 0px;
            margin-left: 50px;
            margin-right: 50px;
            background-color: rgba(255, 255, 255, 0.829);

            -moz-box-shadow: inset rgba(0,0,0,0.3) -5px -5px 10px, rgba(0,0,0,0.6) -10px 10px 15px;
	        -webkit-box-shadow: inset rgba(0,0,0,0.3) -5px -5px 10px, rgba(0,0,0,0.6) -10px 10px 15px;
            box-shadow: inset rgba(0,0,0,0.3) -5px -5px 10px, rgba(0,0,0,0.6) -10px 10px 15px;
        }

        @media only screen and (max-width: 600px) {
           #mainBody {
            padding: 0;
            padding-bottom: 25px;
            padding-top: 5px;
            margin-top: 0px;
            margin-left: 30px;
            margin-right: 30px;
            background-color: rgba(255, 255, 255, 0.829);

            -moz-box-shadow: inset rgba(0,0,0,0.3) -5px -5px 10px, rgba(0,0,0,0.6) -10px 10px 15px;
	        -webkit-box-shadow: inset rgba(0,0,0,0.3) -5px -5px 10px, rgba(0,0,0,0.6) -10px 10px 15px;
            box-shadow: inset rgba(0,0,0,0.3) -5px -5px 10px, rgba(0,0,0,0.6) -10px 10px 15px;
            }
        }

        #header{
            background-color: lightgray;
            text-align: center;

            padding-top: 5px;
            padding-bottom: 5px;

            margin-left: 50px;
            margin-right: 50px;
            margin-top: -15px;

            -moz-box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.4), rgba(0,0,0,0.6) -10px 10px 15px;
	        -webkit-box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.4), rgba(0,0,0,0.6) -10px 10px 15px;
            box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.4), rgba(0,0,0,0.6) -10px 10px 15px;
        }

        @media only screen and (max-width: 600px) {
            #header{
            background-color: lightgray;
            text-align: center;

            padding-top: 5px;
            padding-bottom: 5px;

            margin-left: 30px;
            margin-right: 30px;
            margin-top: -15px;

            -moz-box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.4), rgba(0,0,0,0.6) -10px 10px 15px;
	        -webkit-box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.4), rgba(0,0,0,0.6) -10px 10px 15px;
            box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.4), rgba(0,0,0,0.6) -10px 10px 15px;
            } 
        } 

        #form{
            padding-top:25px;
            width: 50%;
        }

        @media only screen and (max-width: 900px) {
            #form{
            padding-top:25px;
            width: 100%;
            }
        }


        #footer{
            padding-top: 20px;
            padding-bottom: 5px;
        }

        #letters, select{
            width: 80%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        @media only screen and (max-width: 900px) {
            #letters, select{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            }
        }

        </style>

    </head>
    <body>
        <div id="backGround">
                <div id="header">
                    <h2>Letters-To-Words</h2>
                    <h4>Permutations Calculator</h4>
                </div>
            <div id="mainBody">
                <div class="container-fluid">
                    <ul class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active"><a href="/word?word=sight">Find Permutations</a></li>  
                        <li role="presentation"><a href="/">About</a></li>
                    </ul>
                
                    <div class="container text-center" id="form">
                        
                        <h3>Instructions:</h3>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac sodales velit, at iaculis lectus. Quisque blandit libero in odio bibendum fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam convallis erat dictum feugiat accumsan. Integer finibus turpis quis eros molestie, non pretium nulla eleifend. Aliquam erat volutpat. In vestibulum mi eu ultricies pretium. Vestibulum aliquam at sem nec venenatis. Sed enim lectus, rhoncus ac leo sed, aliquet tempor libero. Quisque vitae congue est, at pulvinar ipsum. Cras pellentesque accumsan enim. Nullam non purus facilisis, accumsan lorem vel, aliquet tellus. Curabitur ac mollis massa. 
                        </p>

                        <form id="test">
                            <label for="letters">Letters</label>
                            <input type="text" id="letters" name="letterGroup" placeholder="String">

                            <label for="minSize">Min Size</label>
                            <select id="minSize" name="min_size">
                                <option value=1 selected>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>

                            <label for="maxSize">Max Size</label>
                            <select id="maxSize" name="max_size" default=6>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6 selected>6</option>
                            </select>


                            <button type="submit" class="btn btn-default">Generate Permutations</button>
                        </form>
                        

                        <h3>Results:</h3>
                        
                        <ul class="list-unstyled">
                            {{#each permutations}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    
                    <footer class="container-fluid text-center ft-1" id="footer">
                        <a href="https://www.linkedin.com/in/bnray53">Developer</a>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>