<!DOCTYPE html>
<html>
    <head>
        <title>Permutations</title>
        
    </head>
    <body>
            <p>Permutations Page</p>

            <form>
                <input placeholder="String">
                <button>Search</button>

            </form>

            <ul>
                {{#each permutations}}
                <li>{{this}}</li>
                {{/each}}
            </ul>

    </body>
</html>